* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #171819;
    color: #adadad;
    overscroll-behavior-x: none;
    flex-direction: column;

}

canvas, video {
    width: auto;
    height: max(1080px, 100vh);

}

span {
    font-size: 1em;
}

img {
    height: auto;
    max-width: 100%;
}


#log {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: #ffeb00;
    font-size: 1.4em;
}

#warning {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: red;
    font-size: 1.4em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 300px;   
    margin-bottom:30px;
}

