
@font-face {
  font-family: GothamSSM;
  src: url("Gotham/gothamssm_medium.otf") format("opentype");
}

@font-face {
  font-family: GothamSSMLight;
  src: url("Gotham/gothamssm_light.otf") format("opentype");
}

html, body {
  touch-action: pan-y;
}

body {
  margin: 0;
  font-family: GothamSSM;
  letter-spacing: -0.5px;
  background: #f4f4f4;
  background: linear-gradient(90deg, rgb(224, 224, 224,1) 0%, rgba(244,244,244,1) 10px);
  color: #171a20;
}

.stop-scroll {
  overflow:hidden;
}

.text-color-pri {
  color: #171a20;
}

.text-color-sec {
  color: #a8a8a8;
}

*:focus {
  outline: none;
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

img {
  width:100%;
  height:auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left:15px;
  margin-bottom:40px;
}

.container > a,
.container > button,
.container .item > button {
  width: 150px;
  height: 150px;
  background-color: #e5e5e5;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 30px;
  border-radius: 6px;
}

.item {
  margin: 10px;
}

.item h3 {
  margin-top:10px;
}

.tesla {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 25px;
  background: linear-gradient(180deg, rgba(224,224,224,1) 0%, rgba(244,244,244,0) 10px);
}

.tesla > img.logo{
  height:40px;
  width:40px;
  padding:2px;
  background-color: #e3e3e3;
}

.tesla > img.icon {
  height:44px;
  width:20px;
  padding-left:25px;
  margin-left: 20px;
  border-left:#c4c4c4;
  border-width: 1px;
  border-style: none none none solid;
}

.icon {
  height:44px;
  width:80px;
  padding-left:30px;
  margin-left: 30px;
  border-left:#c4c4c4;
  border-width: 1px;
  border-style: none none none solid;
  text-align:center;
  background-color: transparent;
}

.menu {
  height:44px;
  width:100%;
  display: flex;
  align-items: center;
}

.nav-button {
  height:44px;
  width:60px;
  background-color: #e3e3e3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #c3c3c3;
  border-width: 0.5px;
  border-style: none none solid none;
}


h2 {
  font-size: 1.3em;
  font-weight: 500;
  font-family: GothamSSM;
  letter-spacing: -0.5px;
  margin-block-end: 0em;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  font-family: GothamSSM;
  letter-spacing: -0.5px;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

h4 {
  font-size: 0.8em;
  font-family: GothamSSMLight;
  letter-spacing: -0.5px;
  margin-block-end: 0em;
  margin-block-start: 0.3em;
}

.loading {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}

.shadow {
  position: fixed;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(31 31 31 / 89%);
  display: none;
}

.btnBasic {
  background-color: black;
  border-color: white;
  border: 1px solid white;
  color: white;
  padding: 0.55em 0.55em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.btnDone {
  background-color: #3e6ae1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
}

.footer > .btnGroup {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer > .btnGroup > button {
  background: none;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  color: white;
}

.modal {
  position: fixed;
  display: none;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0);
  z-index: 2;
  padding: 0px;
  text-align: center;
}

.Modal.show {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.androidauto {
  /*width:1150px;
  height:720px;*/
  width:100%;
  height:800px;
  margin-top:50px;
  border-style: none;
  border-radius:9px;
}

#waze-iframe {
  width:calc(100% - 370px);
}

.iframe-button {
  position: fixed;
  /* text-align: right; */
  /* top: 780px; */
  right: 5px;
  top: 5px;
}

.weather-button {
  position: absolute;
  /* text-align: right; */
  /* top: 780px; */
  right: 10px;
  top: 10px;
}

.blue-button {
  height: 45px;
  color:#ffffff;
  background-color: #3e6ae1;
  border-radius: 4px;
  margin-left:20px;
  border:none;
  min-width:100px;
  font-family: "GothamSSM";
}

.x-button {
  height: 40px;
  color: #ffffff;
  background-color: #000;
  border-radius: 50px;
  border: solid;
  border-color:#5b5b5b;
  border-width: 2px;
  min-width: 40px;
  z-index:4;
}

#web {
  cursor: pointer;
  -webkit-filter: invert(1);
  filter: invert(1);
}

#web img {
  width:70%;
}

#games img {
  border-radius: 20px;
}

#quickAccess img {
  width:70%;
}

#services img {
  width:70%;
}

input {
  font-size: 1.3em;
  border: solid;
  border-color: #b5b5b5;
  border-radius: 4px;
  border-width: 1px;
  padding: 9px;
  font-family: 'GothamSSM';
  width: 100%;
  background-color: #fff;
  color: #171a20;
}

.weatherwidget-io {
  margin:-30px;
}

#weather-forecast {
  background-color:rgb(0,0,0,0.9);
  padding:50px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.weather-forecast-container {
  width:70%;
  padding:70px; 
  background-color:#e4e4e4;
  border-radius:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:120px;
}

#editModal,
#overlay {
  padding: 70px 0;
}


.darkmode {
  background-color:rgb(30,30,30);
  /*background: linear-gradient(90deg, rgb(30 30 30) 0%, rgb(33 33 33) 10px);*/
}

.darkmode .item > button,
.darkmode .nav-button{
  background-color:#3e3e3e;
}

.darkmode p,
.darkmode h2,
.darkmode h3,
.darkmode span {
  color:#fff;
}

.darkmode .header {
  border-bottom:#484848;
}

.darkmode .tesla{
  background: linear-gradient(180deg, rgb(35, 35, 35) 0%, rgba(244, 244, 244, 0) 10px);
}

.darkmode .tesla img,
.darkmode #darkmodelogo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.darkmode #web {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.darkmode input {
  color: #fff;
  background-color: #3e3e3e;
  border-color: #3e3e3e;
}