
@font-face {
  font-family: GothamSSM;
  src: url("Gotham/gothamssm_medium.otf") format("opentype");
}

@font-face {
  font-family: GothamSSMLight;
  src: url("Gotham/gothamssm_light.otf") format("opentype");
}

body {
  margin: 0;
  font-family: GothamSSM;
  letter-spacing: -0.5px;
  background: #f4f4f4;
  background: linear-gradient(90deg, rgba(194,194,194,1) 0%, rgba(244,244,244,1) 10px);
  color: #171a20;
}

.text-color-pri {
  color: #171a20;
}

.text-color-sec {
  color: #a8a8a8;
}

*:focus {
  outline: none;
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

img {
  width:100%;
  height:auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left:15px;
  margin-bottom:40px;
}

.container > a,
.container > button,
.container .item > button {
  width: 150px;
  height: 150px;
  background-color: #e5e5e5;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 30px;
  border-radius: 6px;
}

.item {
  margin: 10px;
}

.item h3 {
  margin-top:10px;
}

.tesla {
  display: flex;
  align-items: start;
  justify-content: last baseline;
  padding: 25px;
  background: linear-gradient(180deg, rgba(194,194,194,1) 0%, rgba(244,244,244,0) 10px);
}

.tesla > img.logo{
  height:40px;
  width:40px;
  padding:2px;
  background-color: #e3e3e3;
}

.tesla > img.icon {
  height:44px;
  width:20px;
  padding-left:25px;
  margin-left: 20px;
  border-left:#c4c4c4;
  border-width: 1px;
  border-style: none none none solid;
}

.icon {
  height:44px;
  width:80px;
  padding-left:30px;
  margin-left: 30px;
  border-left:#c4c4c4;
  border-width: 1px;
  border-style: none none none solid;
  text-align:center;
}

.menu {
  height:44px;
  width:100%;
  display: flex;
  align-items: center;
}

.nav-button {
  height:44px;
  width:60px;
  background-color: #e3e3e3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #c3c3c3;
  border-width: 0.5px;
  border-style: none none solid none;
}


h2 {
  font-size: 1.3em;
  font-weight: 500;
  font-family: GothamSSM;
  letter-spacing: -0.5px;
  margin-block-end: 0em;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  font-family: GothamSSM;
  letter-spacing: -0.5px;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

h4 {
  font-size: 0.8em;
  font-family: GothamSSMLight;
  letter-spacing: -0.5px;
  margin-block-end: 0em;
  margin-block-start: 0.3em;
}

.loading {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}

.shadow {
  position: fixed;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(31 31 31 / 89%);
  display: none;
}

.btnBasic {
  background-color: black;
  border-color: white;
  border: 1px solid white;
  color: white;
  padding: 0.55em 0.55em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.btnDone {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
}

.footer > .btnGroup {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer > .btnGroup > button {
  background: none;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  color: white;
}

.modal {
  position: fixed;
  display: none;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(31 31 31 / 89%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.Modal.show {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.androidauto {
  width:1280px;
  height:720px;
  margin-top:10px;
  border-style: solid;
}

.iframe-button {
  position:fixed;
  top:840px;
}

#web {
  cursor: pointer;
}

#web img {
  width:70%;
}

#quickAccess img {
  width:70%;
}

input {
  font-size: 2em;
  border: solid;
  border-color: #5b5b5b;
  padding: 15px;
  font-family:'GothamSSM';
  width:85%;
}

#editModal,
#overlay {
  padding: 70px 0;
}
